/* #table-div>h1{
    position: relative;
} */

/* .table-data{
    color: yellowgreen;
} */

/* #table{
    display: flex;
    justify-content: center;
    table-layout: fixed;
    width: 100%;
} */

/* #table>tbody>tr>td{
    display: flex;
    align-items: center;
} */

/* .workout-text{
    word-wrap: break-word;
    color:blue;
} */